<div class="row">
  <div class="col-md-3">
    <%= image_tag line_item.product.image.thumb.url, alt: line_item.product.name %>
  </div>
  <div class="col-md-4">
    <h4><%= line_item.product.name %></h4>
    <p><%= line_item.product.description %></p>
  </div>
  <div class="col-md-2">
    <strong>Quantity:</strong> <%= line_item.quantity %>
  </div>
  <div class="col-md-2">
    <strong>Line item total:</strong> <span>$</span><%= line_item.total_price %> 
  </div>
</div>
<hr>